<div id="valet-io-modal">
	<div class="valet-io-close-button">x</div>
	<!-- Frame -->
</div>
<div class="secured-by-valet-io">
	<i class="icon-lock"></i>
	<span>Secured by</span><img class="valet-io-logo" />
</div>