@import '../styles/overlay'
@import '../styles/position'
@import '../styles/button'

#valet-io-loading-overlay
	overlay()

#valet-io-loading-wrapper
	position relative
	font-size 14px
	width 100%
	height 100%
	
#valet-io-loading-content
	absolute-center()
	width 75%
	height 50%

#valet-io-loading-inner
	position relative
	width 100%
	height 100%

#valet-io-loading-spinner
	height 10px

	.spinner
		margin 2em auto

#valet-io-loading-text
	color white
	font-size 2em
	text-transform uppercase
	text-align center

#valet-io-loading-close
	display block
	margin .25em auto