<div id="valet-io-loading-wrapper">
	<div id="valet-io-loading-content">
		<div id="valet-io-loading-spinner"></div>
		<button id="valet-io-loading-close" class="valet-io-overlay-button">Cancel</button>
	</div>
</div>